/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');
:root {
  --azul-primario: #0F52BA;
  --cinza:#EEEEEE;
  --bg:#F9F9F9;
  --cinza-secundario: #373737;
}

body {
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--azul-primario);
  padding: 10px;
}

.header-text {
  margin: 0;
  text-align: left;
  color: white;
}

.product-details {
  display: flex;
  align-items: center; /* Alinha os elementos verticalmente */
}

.header-subtext{
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  color: white;
  margin-left: -200px;;

}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--cinza);
  padding: 10px;
  margin-bottom: auto;
  font-size: 10px;
  bottom: 0;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 40px 150px ;
}

.cartButton {
  margin-left: auto;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  width: 218px;
  height: 285px;
  border-radius: 15px;
  box-shadow: -5px 5px 15px rgba(0,0,0, 0.2);
}

.product-description {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-price {
  color: white;
  margin: 0;
  background-color: var(--cinza-secundario) ;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

.Comprar {
  margin-top: auto;
  background-color: var(--azul-primario);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
  padding-top: 5px ;
  padding-bottom: 5px;
}

.icon{
  margin-right: 10px;
}

.product-image {
  margin-top: 10px;
  width: 110px;
  height: 110px;
  object-fit: cover;
}

.product-name {
  font-size: 14px;
  font-weight: bold;
  width: 130px;
}

.product-description {
  margin-top: 10px;
  font-size: 10px;
  color: #888;
}
.shimmer-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.shimmer-image {
  width: 150px;
  height: 150px;
  background-color: #e8e8e8;
  margin-bottom: 10px;
}

.shimmer-text {
  width: 200px;
  height: 20px;
  background-color: #e8e8e8;
  margin-bottom: 300px;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.Comprar {
  width: 100%;
  padding: auto;
  justify-content: end;
  justify-items: flex-end;
  align-items: end;
}

.Comprar[disabled] {
  opacity: 0.6; 
  cursor: not-allowed; 
  color: gray;
}

.header-subtext {
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: 200;
}


@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}



@media screen and (max-width: 1311px) {
  .product-grid {
    margin: 20px 40px 30px 40px;
  }
}

@media screen and (max-width: 1090px) {
  .product-grid {
    margin: 20px 20px 30px 20px;
  }
}

@media screen and (min-width: 1550px) {
  .product-grid {
    margin: 20px 250px 250px 250px;
  }
}
